header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333333;
}

header nav ul li a {
    display: block;
    padding: 1em 3em;
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    background-color: #111111;
}

.main {
    margin-bottom: 1em;
    margin-top: 1em;
}