:root {
    /* 2048 tile colors */
    --orange: #FC9A49;
    --yellow: #FFE873;
    --ltgreen: #61FAAD;
    --dkgreen: #4CC84C;
    --ltblue: #1AC1F0;
    --dkblue: #0982D9;
    --purple: #CD36FF;

    /* to use colors, var(--color name)*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333333;
}

nav ul li a {
    display: block;
    padding: 1em 3em;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #111111;
}
