:root {
    /* 2048 tile colors */
    --orange: #FC9A49;
    --yellow: #FFE873;
    --ltgreen: #61FAAD;
    --dkgreen: #4CC84C;
    --ltblue: #1AC1F0;
    --dkblue: #0982D9;
    --purple: #CD36FF;

    /* to use colors, var(--color name)*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333333;
}

nav ul li a {
    display: block;
    padding: 1em 3em;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #111111;
}

/* 2048 Grid start */
.square {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2em;
}

.container {
    display: inline-grid;
    grid-template: repeat(4, 1fr)/repeat(4, 1fr);
    background-color: dodgerblue;
    padding: 10px;
    justify-items: center;
    gap: 10px;
}

.container div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    aspect-ratio: 1/1;
}
/* 2048 end */