{% extends "layout.html" %}

{% block link %}<link href="../static/2048.css" rel="stylesheet">{% endblock %}

{% block title %}2048{% endblock %}

{% block main %}
    <h2>2048</h2>
    <p>testing testing</p>
    <p>1234</p>

    
    <div class="container">
        <div class="info">
            <h2>2048</h2>
            <div class="score-container">
                <h3 class="score-title">Score <span id="score">0</span></span></h3>
                <h3 class="best-title">Best <span id="best">0</span></h3>
            </div>
            <button>New Game</button>
        </div>
        <p>Use arrow keys to move the tiles. When two tiles with the same number touch, they combine. Try to get a tile with 2048!</p>
        <div class="grid"></div>
    </div>
    

    <p>filler text bgiwvfoeqpl brnoeifvpkwl rbnevioc,l rbnvoiefkp</p>
    <p>filler text bgiwvfoeqpl brnoeifvpkwl rbnevioc,l rbnvoiefkp</p>
    <p>filler text bgiwvfoeqpl brnoeifvpkwl rbnevioc,l rbnvoiefkp</p>
    <p>filler text bgiwvfoeqpl brnoeifvpkwl rbnevioc,l rbnvoiefkp</p>
    <p>filler text bgiwvfoeqpl brnoeifvpkwl rbnevioc,l rbnvoiefkp</p>

{% endblock %}
