{% extends "layout.html" %}

{% block link %}
<link href="../static/2048.css" rel="stylesheet">
<script src="../static/2048.js"></script>
{% endblock %}

{% block title %}2048{% endblock %}

{% block main %}
    
    <div class="container">
        <div class="info">
            <h2>2048</h2>
            <div class="score-container">
                <p class="score-title">Score</p>
                <h3 id="score">0</h3>
            </div>
            <div class="best-container">
                <p class="best-title">Best</p>
                {% if highscore is not none %}
                <h3 id="best">{{ highscore }}</h3>
                {% else %}
                <h3 id="best">0</h3>
                {% endif %}
            </div>
        </div>
        <div class="info2">
            <p id="result">Use arrow or WASD keys to move the tiles. <br> When two tiles with the same number touch, they combine. Try to get a tile with <b>2048!</b></p>
            <button id="continue-game">Continue</button>
            <button id="new-game">New Game</button>
        </div>
        
        <div class="grid"></div>
    </div>
    

{% endblock %}
