<!DOCTYPE html>

<html lang="en">

<head>
    <link href="../static/styles.css" rel="stylesheet">
    {% block link %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <h1>Games</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/2048">2048</a></li>
                {% if session.get("user_id") %}
                    <li id="nav-right"><a href="/logout">Log Out</a></li>
                {% else %}
                    <li id="nav-right"><a href="/login">Log In</a></li>
                    <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="main">
        {% block main %}{% endblock %}
    </main>
    <footer>
        Created by C. Hotz 2026
    </footer>
</body>

</html>