<!DOCTYPE html>

<html lang="en">

<head>
    <link href="../static/styles.css" rel="stylesheet">
    {% block link %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div class="game-time-games">
            <!-- logo from https://www.vectorstock.com/royalty-free-vector/game-time-joypad-label-vector-50472179 -->
            <img src="../static/game-time-joypad-label-vector-50472179-removebg-preview.png" alt="logo" id="game-time">
            <h1>GAMES</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/2048">2048</a></li>
                {% if session.get("user_id") %}
                    <li id="nav-right"><a href="/logout">Log Out</a></li>
                {% else %}
                    <li id="nav-right"><a href="/login">Log In</a></li>
                    <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="main">
        {% block main %}{% endblock %}
    </main>
    <footer>
        Created by C. Hotz 2026<br>
        Logo by BlackWhiteMouse <a href="https://www.vectorstock.com/royalty-free-vector/game-time-joypad-label-vector-50472179" target="_blank" rel="noopener">VectorStock</a>

    </footer>
</body>

</html>